# logger
LOGGER_LEVEL=info

# server
SERVER_USE_REFLECTION=true
SERVER_PORT_GRPC=50000
SERVER_PORT_HTTP=50001

# psql
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USERNAME=calendar_user
POSTGRES_PASSWORD=calendar_pass
POSTGRES_DATABASE=calendar_db
