# logger
LOGGER_LEVEL=info

# server
SERVER_USE_REFLECTION=true
SERVER_PORT_GRPC=50000
SERVER_PORT_HTTP=50001
SERVER_HTTP_READ_TIMEOUT=1
SERVER_HTTP_WRITE_TIMEOUT=1
SERVER_HTTP_IDLE_TIMEOUT=30
SERVER_HTTP_READ_HEADER_TIMEOUT=1

# psql
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USERNAME=calendar_user
POSTGRES_PASSWORD=calendar_pass
POSTGRES_DATABASE=calendar_db
